.education
  position: relative
  text-align: center
  font-size: 2em
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.4)

.education__background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  filter: grayscale(30%) opacity(.5)
  background: url("../../images/education.jpg") no-repeat fixed top center
  background-size: cover

.education__content
  padding: 2rem