.experience-item
  display: flex
  height: 200px
  max-width: 800px
  margin: 0 auto 2rem
  background: #dddddd
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .3)

.experience-item__left
  padding: 1rem
  background: #222222
  color: #eeeeee
  flex: 0 0 190px

.experience-item__name
  border-bottom: 1px solid #dddddd
  margin-bottom: 1rem
  font-size: 1.5em

.experience-item__date
  color: #555555

.experience-item__right
  padding: 1rem
  font-size: 1.5em

.experience-item__position
  font-weight: bold
  margin-bottom: 1rem

.experience-item__description
  line-height: 1.5