@font-face
  font-family: 'frontend-icons'
  src: url('~frontend-file-icons/fonts/frontend-file-icons.eot?33fv2s')
  src: url('~frontend-file-icons/fonts/frontend-file-icons.eot?33fv2s#iefix') format('embedded-opentype'),
  url('~frontend-file-icons/fonts/frontend-file-icons.ttf?33fv2s') format('truetype'),
  url('~frontend-file-icons/fonts/frontend-file-icons.woff?33fv2s') format('woff'),
  url('~frontend-file-icons/fonts/frontend-file-icons.svg?33fv2s#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'frontend-icons', fantasy !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-electronic_2:before
  content: "\e900"

.icon-map_2:before
  content: "\e901"

.icon-D_2:before
  content: "\e902"

.icon-git:before
  content: "\e602"

.icon-mysql:before
  content: "\e604"

.icon-uniE606:before
  content: "\e606"

.icon-github2:before
  content: "\e609"

.icon-wordpress:before
  content: "\e60b"

.icon-uniE60E:before
  content: "\e60e"

.icon-window:before
  content: "\e60f"

.icon-apple:before
  content: "\e611"

.icon-linux:before
  content: "\e612"

.icon-uniE616:before
  content: "\e616"

.icon-github_logo:before
  content: "\e617"

.icon-node:before
  content: "\e618"

.icon-node_logo:before
  content: "\e619"

.icon-ember:before
  content: "\e61b"

.icon-npm:before
  content: "\e61e"

.icon-uniE622:before
  content: "\e622"

.icon-html5:before
  content: "\e636"

.icon-uniE639:before
  content: "\e639"

.icon-uniE63B:before
  content: "\e63b"

.icon-uniE63C:before
  content: "\e63c"

.icon-drupal:before
  content: "\e642"

.icon-bootstrap:before
  content: "\e647"

.icon-css3:before
  content: "\e649"

.icon-sass:before
  content: "\e64b"

.icon-grunt:before
  content: "\e64c"

.icon-bower:before
  content: "\e64d"

.icon-javascript:before
  content: "\e64e"

.icon-jquery:before
  content: "\e650"

.icon-coffee:before
  content: "\e651"

.icon-backbone:before
  content: "\e652"

.icon-angular:before
  content: "\e653"

.icon-uniE655:before
  content: "\e655"

.icon-uniE657:before
  content: "\e657"

.icon-less:before
  content: "\e658"

.icon-uniE659:before
  content: "\e659"

.icon-gulp:before
  content: "\e663"

.icon-atom:before
  content: "\e664"

.icon-js:before
  content: "\e681"

.icon-composer:before
  content: "\e683"

.icon-uniE695:before
  content: "\e695"

.icon-code:before
  content: "\e696"

.icon-dreamweaver:before
  content: "\e69c"

.icon-sublime:before
  content: "\e6aa"

.icon-illustrator:before
  content: "\e6b4"

.icon-photoshop:before
  content: "\e6b8"

.icon-display:before
  content: "\e903"

.icon-mobile:before
  content: "\e904"

.icon-tablet:before
  content: "\e905"

.icon-untitled:before
  content: "\e906"

.icon-linkedin:before
  content: "\e907"

.icon-php:before
  content: "\f135"

