@import "icons"

.skills
  box-shadow: inset 0 0 40px rgba(0, 0, 0, .4)

.skills__list
  display: flex
  justify-content: space-around
  padding: 0
  list-style-type: none

.skills__title
  margin-top: 0
  font-size: 3rem
  text-decoration: underline

.skills__sublist
  padding: 0
  font-size: 2rem
  line-height: 1.5
  list-style-type: none

.skills__comment
  color: #ddd
  font-size: .8em