.home
  position: relative
  height: 640px
  padding-left: 40%
  margin-top: 3.5rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: #eee

.home__img
  position: absolute
  top: 0
  bottom: 0
  left: 20%
  width: 450px
  background: url("../../images/cv_photo_min.jpg") left top no-repeat

.home__h1
  margin: 0
  font-size: 5rem
  color: #111

.home__h3
  font-size: 3.5rem
  color: #555

.home__contact
  color: #1e90ff
  transition: color .2s ease-in-out
  text-decoration: none
  font-size: 2rem
  &:hover
    color: #222