.contact
  text-align: center

.contact__cards
  display: flex
  justify-content: space-around

.contact__card
  font-family: monospace
  flex: 0 1 500px
  background: #111
  color: #eee
  padding: 1rem
  box-sizing: border-box
  display: flex
  align-items: flex-start
  justify-content: center
  flex-direction: column
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .5)
  line-height: 2

.contact__card__list
  font-size: 1.5em
  text-align: left
  list-style-type: none
  width: 100%
  white-space: nowrap

.contact__card__item__key
  width: 40%
  display: inline-block
  &:before
    content: '"'
  &:after
    content: '":'

.contact__card__item__value
  color: #eee
  text-decoration: none
  transition: color .2s ease-in-out
  &:before
    content: '"'
  &:after
    content: '";'
  &:hover
    color: #1e90ff

.contact__form
  position: relative
  overflow: hidden
  height: 450px

.contact__form_send
  .contact__form__items
    left: 100%
  .contact__form__message
    top: 0

.contact__form__items
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  font-size: 1.25em
  line-height: 2
  transition: left .2s ease
  padding: 1rem
  box-sizing: border-box

.contact__form__item
  width: 100%
  text-align: left
  margin-bottom: 1rem

.contact__form__item__label
  display: inline-block
  white-space: nowrap

.contact__form__item__field
  box-sizing: border-box
  width: 100%
  font-size: 1.25rem
  border: 1px solid #eee
  color: #eee
  background: transparent
  padding: .5rem
  font-family: monospace

.contact__form__item__field_textarea
  height: 6em
  resize: none

.contact__form__submit
  font-size: 1.25rem
  border: 1px solid #eee
  color: #eee
  background: transparent
  padding: .5rem
  font-family: monospace
  transition: color, background-color .2s ease-in-out
  cursor: pointer
  width: 100%
  &:hover
    background-color: #eee
    color: #111

.contact__form__message
  position: absolute
  height: 100%
  width: 100%
  top: 100%
  left: 0
  right: 0
  transition: top .3s ease
  color: #eee
  font-size: 2em
  display: flex
  align-items: center
  justify-content: center
