.header
  background: #111
  display: flex
  position: fixed
  height: 3.5rem
  top: 0
  z-index: 100
  width: 100%
  box-sizing: border-box
  justify-content: space-between
  align-items: center
  padding: 0 2rem
  box-shadow: 0 2px 15px rgba(16, 16, 16, .8)

.header__title
  color: #eee
  text-decoration: none
  font-size: 2rem
  transition: color .3s ease-in-out
  &:hover
    color: #1e90ff

.header__list
  display: flex
  list-style-type: none

.header__item
  padding: 0 1rem
  color: #eee
  font-size: 1.5rem

.header__link
  color: #eee
  text-decoration: none
  transition: color .3s ease-in-out
  &:hover
    color: #1e90ff