.footer
  position: relative
  background: #111
  display: flex
  height: 3.5rem
  box-sizing: border-box
  justify-content: space-between
  align-items: center
  padding: .2rem 2rem 0
  box-shadow: 0 2px 15px rgba(16, 16, 16, .8)
  color: #fff
  font-size: 1.5rem


.footer__copyright
  margin: 0

.footer__up
  color: #fff
  position: absolute
  right: 2rem
  font-size: 1.5em
  text-decoration: none
  margin: auto
  transition: color .2s ease-in-out
  line-height: 3rem
  &:hover
    color: #1e90ff
