@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700&subset=cyrillic')
html
  min-width: 1100px

body
  margin: 0
  padding: 0
  font-family: 'Yanone Kaffeesatz', sans-serif
  color: #111

h2
  font-size: 4rem
  margin: 1rem 0 3rem
  text-align: center

.sect
  padding: 2rem 2rem

  &.sect_dark
    background: #1e90ff
    color: #fff